<h1>Hello World</h1>
<div id="content"></div>

<script type="text/javascript">
  var tones = [
    'F3',
    'G3',
    'A3',
    'B3',
    'C4',
    'D4',
    'E4',
    'F4',
    'G4'
  ]
  React.render(React.createElement(Organ, { organKeys: tones }), document.getElementById('content'));
</script>
